* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --font-primary: "DM Sans", sans-serif;
    --font-heading: "Playfair Display", serif;
    --font-mono: "DM Mono", monospace;

    --bg-color: #F9E6E7;
}

body {
    font-family: var(--font-primary);
    background-color: var(--bg-color);
    line-height: 1.6;
}

/* navigation bar */

.navigation {
    background-color: #FEF4EA ;

    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 65px;
}

.navigation p {
    font-family: var(--font-heading);
    font-weight: 600;
    font-size: 25px;
    color: #D63459;
    padding: 10px 20px;
    margin-left: 20px;
}

.navigation nav ul {
    display: flex;
    gap: 100px;
}

.navigation nav ul li {
    list-style: none;
}

.navigation nav ul li a {
    text-decoration: none;
    color: #642D3E;
    font-family: var(--font-primary);
    font-weight: 500;
    font-size: 13px;
    padding: 10px 20px;
}

.navigation .logo-github img {
    width: 57px;
    height: 57px;
    object-fit: cover;
    margin-top: 8px;
    margin-right: 50px;
}

/* hero section */
.hero{
    display:flex;
    justify-content:space-between;
    align-items:center;

    margin:40px 45px;
    padding: 30px;
    gap: 0;

    border:1px solid #642D3E;
    border-radius:20px;
}

.hero-image{
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-image::before{
    content:"";

    position:absolute;

    width: 450px;
    height: 450px;

    background:#F3D9A6;
    border-radius:0 0 0 100%;

    filter:blur(80px);

    top: -100px;
    right: -75px;

    z-index:-1;
}

.hero-image img{
    max-width: 375px;
    width:100%;
    height:auto;
    display: block;
}

.hero-content {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 20px;
}

.hero-content .hero-text1 {
    font-family: var(--font-mono);
    font-weight: light;
    font-size: 17px;
    color: #642D3E;
}

.hero-content .hero-text2 {
    font-family: var(--font-primary);
    font-weight: light;
    font-size: 20px;
    color: #642D3E;
    margin-top: 20px;
    width: 480px;
    line-height: 50px;
}

.hero-content .hero-title1 {
    font-family: var(--font-heading);
    font-weight: bold;
    font-size: 70px;
    color: #642D3E;
}

.hero-content .hero-title2 {
    font-family: var(--font-heading);
    font-weight: bold;
    font-size: 70px;
    color: #d63459;
    margin-top: -40px;
    font-style: italic;
    height: 90px;
}

.hero-content .cta-button {
    font-family: var(--font-primary);
    font-weight: 600;
    font-size: 20px;
    color: white;
    background-color: #d63459;
    border-radius: 999px;
    padding: 10px 20px;
    text-decoration: none;
    width: 230px;
    height: 50px;
    text-align: center;
    margin-top: 60px;
    margin-bottom: -10px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.25);
}

h1,
h2 {
    font-family: var(--font-heading);
}

.marquee {
    overflow: hidden;
    white-space: nowrap;
}

.marquee-content {
    font-family: var(--font-mono);
    display: inline-flex;
    width: max-content;
    animation: marquee 15s linear infinite;
        background-color: #F5DDB9;
}

.marquee-content span {
    margin-right: 8px;
    margin: 10px;
    font-size: 16px;
    color: #642D3E;
}

@keyframes marquee {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-50%);
    }
}

/* footer section */

.newsletter-main {
    padding: 50px;
    gap: 0;
    background-color: #723647;
}

.newsletter-main .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0;
}

.newsletter-main .container .content-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 20px;
}

.newsletter-main .container .content-left h2 {
    font-family: var(--font-heading);
    font-weight: bold;
    font-size: 60px;
    color: #FFFFFF;
    width: 100%;
    max-width: 700px;
    line-height: 90px;
}

.newsletter-main .container .content-left .subtitle {
    font-family: var(--font-mono);
    font-weight: 200;
    font-size: 15px;
    color: #FFFFFF;
    line-height: 50px;
}

.newsletter-main .container .content-left .description {
    font-family: var(--font-primary);
    font-weight: 200;
    font-size: 20px;
    color: #FFFFFF;
    width: 100%;
    max-width: 700px;
    line-height: 50px;
}

.content-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 20px;
}

.content-right p {
    font-family: var(--font-primary);
    font-weight: 500;
    font-size: 13px;
    color: #FFFFFF;
    line-height: 50px;
}

.newsletter-main .container .content-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 20px;
}

.newsletter-main .container .content-right .subscribe-form {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.newsletter-main .container .content-right .subscribe-form input {
    font-family: var(--font-primary);
    font-weight: 200;
    font-size: 18px;
    padding: 10px;
    border: none;
    border-bottom: 1px solid #FFFFFF;
    width: 350px;
    background-color: #f5ddb900;
}

.newsletter-main .container .content-right .subscribe-form button {
    background-color: #EED072;
    border: none;
    border-radius: 50%;
    padding: 10px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    text-align: center;
}

.newsletter-main .container .content-right .subscribe-form button img {
    width: 20px;
    height: 20px;
    padding-top: 3px;
    padding-right: 3px;
    border-radius: 50%;
    text-decoration: none;
    color: #642D3E;
}

.newsletter-logo {
    padding: 20px;
    padding-left: 65px;
    background-color: #642D3E;
}

.newsletter-logo h2 {
    font-family: var(--font-heading);
    font-weight: 300;
    font-size: 26px;
    color: #FFFFFF;
}